* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	/* overflow-x: hidden; */
}

body {
	height: 150vh;
	background-color: black;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem
}

a:hover {
	color: orange;
}

header {
	position: relative;
	padding: 0 2rem;
}

.navbar {
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toggle_btn {
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.action_btn {
	background-color: orange;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
}

.action_btn:hover {
	scale: 1.05;
	color: #fff
}

.action_btn:active {
	scale: 0.95;
}

.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	height: 0;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
	height: 300px;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}



.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #24262b;
	padding: 40px 0;
	height: 26%;
	border-radius: 8%;
	z-index: -2;
	margin-top: 20px;
}

.footer-col {
	width: 25%;
	padding: 0 60px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 20px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width:992px) {

	.navbar .links,
	.navbar .action_btn {
		display: none;
	}

	.navbar .toggle_btn {
		display: block;
	}

	.dropdown_menu {
		display: block;
	}

	.footer-col {
		width: 25px;
		margin-bottom: 30px;
	}
}

.showcase {
	top: 0;
	left: 0;
	width: 100%;
	height: 74%;
	object-fit: cover;
	z-index: -1;
}



.container {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
	/* Add margin-top to shift the planets down */
}

.planet-card {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 40px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #24262b;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: solid;
	border-color: black;
	position: relative;
	color: white;
}

.planet-name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 20px;
	/* Adjust the left margin for the planet name */
}

.planet-content {
	font-size: 18px;
	margin-bottom: 20px;
}

/*
.planet-card:nth-child(even) img {
	right: 0;
	/* Position the image on the right for even-numbered planet cards 

.planet-card:nth-child(odd) img {
	left: 0;
	/* Position the image on the left for odd-numbered planet cards
	right: auto;
}
*/

.circular_image_mars {
	
	width: 950px;
	height: 600px;
	border-radius: 0 50% 50% 0;
	/* Use border-radius to create a half-circle shape */
	position: relative;
	top: 0;
	left: -13px;
}


.circular_image_mars img {
	width: 100%;
	object-fit: cover;
	/* float: right; */
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
	/* Clip the image to display only the right half */
	position: relative;
	top: -150px;
	left: 610px;
}

.circular_image_jupiter {
	
	width: 800px;
	height: 600px;
	border-radius: 0 50% 50% 0;
	/* Use border-radius to create a half-circle shape */
	position: relative;
	top: 0;
	left: -13px;
	transform: scaleX(-1);
}


.circular_image_jupiter img {
	width: 100%;
	object-fit: cover;
	/* float: right; */
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
	/* Clip the image to display only the right half */
	position: relative;
	top: -100px;
	left: 585px;
	
}

.circular_image_uranus {
	
	width: 430px;
	height: 600px;
	border-radius: 0 50% 50% 0;
	/* Use border-radius to create a half-circle shape */
	position: relative;
	top: 0;
	left: -13px;
}


.circular_image_uranus img {
	width: 100%;
	object-fit: cover;
	/* float: right; */
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
	/* Clip the image to display only the right half */
	position: relative;
	top: -90px;
	left: 610px;
	
}

.circular_image_venus {
	
	width: 420px;
	height: 600px;
	border-radius: 0 50% 50% 0;
	/* Use border-radius to create a half-circle shape */
	position: relative;
	top: 0;
	left: -13px;
	transform: scaleX(-1);
}


.circular_image_venus img {
	width: 100%;
	object-fit: cover;
	/* float: right; */
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
	/* Clip the image to display only the right half */
	position: relative;
	top: -103px;
	left: 610px;
	
}


.select-menu .select-btn {
	display: flex;
	height: 30px;
	background: #fff;
	padding: 20px;
	font-size: 28px;
	font-weight: 200;
	border-radius: 20px;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	position: relative;
	margin-left: 170px; 
	margin-right: 170px;
}

.select-btn i {
	font-size: 15px;
	transition: 0.3s;
	
}

.select-menu.active .select-btn i {
	transform: rotate(-180deg);
}

.select-menu .options {
	position: absolute;
	padding: 20px;
	margin-top: 30px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	display: none;
	width: 100%;
	/* Set the width to 100% */
	box-sizing: border-box;
	/* Include padding and border in the width calculation */

}

.select-menu.active .options {
	display: block;
	margin-top: 10px;
	/* Add a margin-top to push everything down */
	transition: margin-top 0.3s ease;
	/* Add transition for smooth animation */
}

.options .option {
	display: flex;
	height: 40px;
	cursor: pointer;
	padding: 0 16px;
	border-radius: 8px;
	align-items: center;
	background: #fff;
}

.options .option:hover {
	background: #F2F2F2;
}

.option i {
	font-size: 15px;
	margin-right: 12px;
}

.option .option-text {
	font-size: 18px;
	color: #333;
}

.app {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.ImageSlider {
	position: relative;
	width: 500px;
	border-radius: 10px;
	height: 400px;
	overflow: hidden;
}

.ImageSlider div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	top: 0;
	font-size: 25px;
	box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
	transition: 500ms ease;
	left: 0;
	position: absolute;
}

.ImageSlider div:nth-child(1) {
	z-index: 7;
	background-color: #ccc;
}

.ImageSlider div:nth-child(2) {
	z-index: 6;
	background-color: #bbb;
}

.ImageSlider div:nth-child(3) {
	z-index: 5;
	background-color: #aaa;
}

.ImageSlider div:nth-child(4) {
	z-index: 4;
	background-color: #999;
}

.ImageSlider div:nth-child(5) {
	z-index: 3;
	background-color: #888;
}

.ImageSlider div:nth-child(6) {
	z-index: 2;
	background-color: #777;
}

.ImageSlider div:nth-child(7) {
	z-index: 1;
	background-color: #666;
}

.navigation {
	display: flex;
	align-items: center;
	gap: 0 10px;
}

.navigation span {
	font-size: 25px;
}

.navigation button {
	cursor: pointer;
	outline: none;
	padding: 10px 20px;
	font-size: 30px;
	background-color: transparent;
	border: none;
	transition: 100ms ease;
}

.navigation button:active {
	transform: scale(1.2);
}

.app h1 {
	font-size: 25px;
	color: #333;
	margin: 10px 0;
}